.principal{
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
    background-color: brown;
    height: 50px;
    align-items: center;
    text-decoration: none;

    
}
.livraria{
    text-decoration: none;
   

}
.principal h1 {
    color: white;  
}